<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
		PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-config.dtd"> 
		
<configuration>
	<typeAliases>
		<typeAlias type="com.iu.main.bankbook.BankBookDTO" alias="BankBookDTO"></typeAlias>
		<typeAlias type="com.iu.main.bankbook.BankBookFileDTO" alias="BankBookFileDTO"></typeAlias>
		<typeAlias type="com.iu.main.member.MemberDTO" alias="MemberDTO"></typeAlias>
		<typeAlias type="com.iu.main.board.notice.NoticeDTO" alias="NoticeDTO"></typeAlias>
		<typeAlias type="com.iu.main.board.notice.NoticeFileDTO" alias="NoticeFileDTO"></typeAlias>
		<typeAlias type="com.iu.main.member.MemberFileDTO" alias="MemberFileDTO"></typeAlias>
		<typeAlias type="java.util.List" alias="List"></typeAlias>
		<typeAlias type="com.iu.main.board.qna.QnaDTO" alias="QnaDTO"></typeAlias>
		<typeAlias type="com.iu.main.board.qna.QnaFileDTO" alias="QnaFileDTO"></typeAlias>
		<typeAlias type="com.iu.main.bookAccount.BookAccountDTO" alias="BookAccountDTO"></typeAlias>
		<typeAlias type="java.util.Map" alias="Map"/>
	</typeAliases>
</configuration>