<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="com.iu.main.bankBook.BankBookDAO"> 
 	<select id="getDetail" resultType="com.iu.main.bankbook.BankBookDTO" parameterType="com.iu.main.bankbook.BankBookDTO">
 		SELECT * FROM BANKBOOK WHERE BOOKNUM=#{bookNum}
 	</select>
	
	

  </mapper>