<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.iu.main.comment.CommentDAO">
<select id="getTotal" resultType="Long" parameterType="CommentDTO">
	SELECT COUNT(COMMENTNUM) FROM COMMENT
	WHERE BOOKNUM = #{bookNum}
</select>
<select id="getList" parameterType="Map" resultType="CommentDTO">
	SELECT * FROM
	(SELECT ROWNUM R, C.* FROM
	(SELECT *FROM BOOKCOMMENT 
	WHERE BOOKNUM=#{comment.bookNum}
	ORDER BY COMMENTNUM DESC)C)
	WHERE R BETWEEN #{pager.startRow} AND #{pager.lastRow}
</select>

<insert id="setAdd" parameterType="CommentDTO">
	INSERT INTO BOOKCOMMENT (COMMENTNUM, ID, BOOKNUM, CONTENTS, COMMENTDATE)
	VALUES (COMMENT_SEQ.NEXTVAL, #{id}, #{bookNum}, #{contents}, SYSDATE)
</insert>

</mapper>