<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="com.iu.main.member.MemberDAO">
  
    <insert id="setJoin" parameterType="MemberDTO">
  	INSERT INTO MEMBER (ID, PW, NAME, EMAIL, BIRTH)
  	VALUES (#{id}, #{pw}, #{name}, #{email}, #{birth})
  	</insert>
  	<!-- 로그인 -->
  	<select id="getLogin" parameterType="MemberDTO" resultType="MemberDTO">
  		SELECT * FROM MEMBER_TBL
  		WHERE ID=#{id} AND PW=#{pw}
  	</select>

	<!-- 회원수정 -->
	<update id="setMemberUpdate" parameterType="MemberDTO">
		UPDATE MEMBER_TBL SET
		PW=#{pw}, NAME=#{name}, EMAIL=#{email}, BIRTH=#{birth}
		WHERE ID=#{id}
	</update>

  </mapper>