<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="com.iu.main.notice.NoticeDAO">
  <sql id="searchSql">
    	WHERE NUM>0
			<if test="kind == 'name'">
				AND NAME LIKE '%'||#{search}||'%'
			</if>
			<if test="kind == 'contents'">
				AND CONTENTS LIKE '%'||#{search}||'%'
			</if>
			<if test="kind == 'title'">
				AND TITLE LIKE '%'||#{search}||'%'
			</if>
  </sql>
  
  <select id="getTotal" resultType="java.lang.Long">
  	SELECT COUNT(NUM) FROM NOTICE
  	<include refid="searchSql"></include>
  </select>
  
  <select id="getList" resultType="NoticeDTO" parameterType="com.iu.main.util.Pager">
  	SELECT NUM, TITLE, WRITER, CREATEDATE, HIT FROM
  		(SELECT ROWNUM R, N.* FROM
	  		(SELECT*FROM NOTICE
	  		<include refid="searchSql"></include>
	  		ORDER BY NUM DESC)N)
	  WHERE R BETWEEN #{startRow} AND #{lastRow}
  </select>
  
  <insert id="setAdd" parameterType="NoticeDTO">
  	INSERT INTO NOTICE
  	VALUES (NOTICE_SEQ.NEXTVAL, #{title}, #{writer}, SYSDATE, 0, #{contents})
  </insert>
  
  <select id="getDetail" resultType="NoticeDTO" parameterType="NoticeDTO">
  	SELECT NUM, TITLE, WRITER, CREATEDATE, HIT, CONTENTS FROM NOTICE
  	WHERE NUM=#{num}
  </select>
  
  <update id="setUpdate" parameterType="NoticeDTO">
  	UPDATE NOTICE SET
  	TITLE=#{title}, WRITER=#{writer}, CONTENTS=#{contents}
  	WHERE NUM=#{num}
  </update>
  
  <delete id="setDelete" parameterType="NoticeDTO">
  	DELETE NOTICE WHERE NUM=#{num}
  </delete>
  
  </mapper>