<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="com.iu.main.board.qna.QnaDAO">
    <sql id="searchSql">
    	WHERE NUM>0
			<if test="kind == 'name'">
				AND WRITER LIKE '%'||#{search}||'%'
			</if>
			<if test="kind == 'contents'">
				AND CONTENTS LIKE '%'||#{search}||'%'
			</if>
			<if test="kind == 'title'">
				AND TITLE LIKE '%'||#{search}||'%'
			</if>
  </sql>
  	
  <select id="getTotal" resultType="java.lang.Long" parameterType="com.iu.main.util.Pager">
  	SELECT COUNT(NUM) FROM QNA
  	<include refid="searchSql"></include>
  </select>
  
  <select id="getList" resultMap="getDetailResult" parameterType="com.iu.main.util.Pager">
  	SELECT * FROM
  		(SELECT ROWNUM R, Q.* FROM
  			(SELECT*FROM QNA
  			<include refid="searchSql"></include>
  			ORDER BY REF DESC, STEP ASC)Q)
  	WHERE R BETWEEN #{startRow} AND #{lastRow}
  </select>
  
   <resultMap type="QnaDTO" id="getDetailResult">
  	<id column="NUM" property="num"/>
  	<result column="TITLE" property="subject"/>
  	<result column="WRITER" property="name"/>
  	<result column="CREATEDATE" property="createDate"/>
  	<result column="HIT" property="hit"/>
  	<result column="CONTENTS" property="contents"/>
  	<result column="REF" property="ref"/>
  	<result column="STEP" property="step"/>
  	<result column="DEPTH" property="depth"/>
  	
  	<collection property="fileDTOs" javaType="List" ofType="QnaFileDTO">
  		<id column="FILENUM" property="fileNum"/>
  		<result column="FILENAME" property="fileName"/>
 		<result column="ORIGINALNAME" property="originalName"/>
  	</collection>
  	
  </resultMap>  
  
  <insert id="setAdd" parameterType="QnaDTO">
  	<selectKey keyProperty="num" resultType="Long" order="BEFORE">
  		SELECT QNA_SEQ.NEXTVAL FROM DUAL
  	</selectKey>
  	INSERT INTO QNA (NUM, WRITER, TITLE, CONTENTS, CREATEDATE, HIT, REF, STEP, DEPTH)
  	VALUES (#{num}, #{name}, #{subject}, #{contents}, SYSDATE, 0, #{num}, 0, 0)
  </insert>
  
  <insert id="setFileAdd" parameterType="QnaFileDTO">
  	INSERT INTO QNAFILE
  	VALUES (QNA_SEQ.NEXTVAL, #{num}, #{fileName}, #{originalName})
  </insert>
  
  <select id="getDetail" resultMap="getDetailResult" parameterType="QnaDTO">
  	SELECT Q.*, QF.*
  	FROM QNA Q
  		LEFT JOIN
  		QNAFILE QF
  		ON(Q.NUM=QF.NUM)
  	WHERE Q.NUM=#{num}
  </select>
  
  <insert id="setReplyAdd" parameterType="QnaDTO">
  	<selectKey keyProperty="num" resultType="Long" order="BEFORE">
  		SELECT QNA_SEQ.NEXTVAL FROM DUAL
  	</selectKey>
  	INSERT INTO QNA
  	VALUES (#{num}, #{name}, #{subject}, #{contents}, SYSDATE, 0, #{ref}, #{step}, #{depth})
  </insert>

  <update id="setStepUpdate" parameterType="QnaDTO">
  	UPDATE QNA SET
  	STEP = STEP+1
  	WHERE REF=#{ref}
  	      AND STEP>#{step}
  </update>
  
  <delete id="setDelete" parameterType="QnaDTO">
  	DELETE QNA WHERE NUM=#{num} AND AND WRITER=#{name}
  </delete>

  <update id="setUpdate" parameterType="QnaDTO">
  	UPDATE QNA SET
  	TITLE=#{subject}, WRITER=#{name}, CONTENTS=#{contents}
  	WHERE NUM=#{num} AND WRITER=#{name}
  </update>
  
  </mapper>