<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="com.iu.main.qna.QnaDAO">
    <sql id="searchSql">
    	WHERE NUM>0
			<if test="kind == 'name'">
				AND WRITER LIKE '%'||#{search}||'%'
			</if>
			<if test="kind == 'contents'">
				AND CONTENTS LIKE '%'||#{search}||'%'
			</if>
			<if test="kind == 'title'">
				AND TITLE LIKE '%'||#{search}||'%'
			</if>
  </sql>
  	
  <select id="getTotal" resultType="java.lang.Long" parameterType="com.iu.main.util.Pager">
  	SELECT COUNT(NUM) FROM QNA
  	<include refid="searchSql"></include>
  </select>
  
  <select id="getList" resultType="QnaDTO" parameterType="com.iu.main.util.Pager">
  	SELECT NUM, TITLE, WRITER, CREATEDATE, HIT FROM
  		(SELECT ROWNUM R, Q.* FROM
  			(SELECT*FROM QNA
  			<include refid="searchSql"></include>
  			ORDER BY NUM DESC)Q)
  	WHERE R BETWEEN #{startRow} AND #{lastRow}
  </select>
  
  	
  </mapper>